<%- include ('layout/header') %>
<div class="w-full bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4 mr-10 ml-2">
  <% if(message){ %>

  <div
    class="alert alert-dismissible fade show bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative <%= message.type %>"
    role="alert"
  >
    <strong class="font-bold">Success!</strong>
    <span class="block sm:inline"><%= message.message %></span>
    <button
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
      onclick="this.parentElement.style.display='none';"
    >
      <span
        aria-hidden="true"
        class="text-red-500 absolute top-0 bottom-0 right-0 px-4 py-3"
        ><i class="fas fa-times-circle"></i
      ></span>
    </button>
  </div>
  <% } %>

  <h1 class="text-3xl text-center font-bold text-gray-900 mt-8">User List</h1>

  <div
    class="flex items-center border-b border-b-2 border-blue-500 py-2 w-96 mb-4"
  >
    <input
      class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
      type="search"
      placeholder="Search by name"
      aria-label="Full name"
      name="search"
    />
  </div>
  <% if(users !=''){ %>

  <table class="table-auto w-full">
    <thead>
      <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
        <th class="py-3 px-6 text-left">Image</th>
        <th class="py-3 px-6 text-left">Name</th>
        <th class="py-3 px-6 text-left">Email</th>
        <th class="py-3 px-6 text-left">Phone</th>
        <th class="py-3 px-6 text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% users.forEach((row,index) => {%>
      <tr class="border-b border-gray-200 hover:bg-gray-100">
        <td class="py-3 px-6 text-left whitespace-nowrap">
          <div class="flex items-center">
            <div class="mr-2">
              <img
                class="w-8 h-8 rounded-full"
                src="<%= row.image %>"
                alt="Avatar"
              />
            </div>
          </div>
        </td>

        <td class="px-4 py-2">
          <row><%= row.name %></row>
        </td>
        <td class="px-4 py-2">
          <row><%= row.email %></row>
        </td>
        <td class="px-4 py-2">
          <row><%= row.phone %></row>
        </td>

        <td class="px-4 py-2 text-center">
          <a href="/users/edit/<%= row.id %>">
            <button
              class="hover:text-blue-700 text-blue-500 font-bold py-2 px-4 rounded"
            >
              <i class="fas fa-edit"></i>
            </button>
          </a>
          <a href="/delete/<%= row._id %>">
            <button
              class="hover:text-red-700 text-red-500 font-bold py-2 px-4 rounded"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else{ %>
  <h1 class="text-3xl text-center font-bold text-gray-900 mt-8">
    No User Found
  </h1>
  <% } %>
</div>
